html{
background: #fff;
}

body{
margin: 40px;
padding: 40px;
color: #000;
}

nav{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: medium;
background-color: rgb(145, 143, 147);
color: #000;
word-spacing: 50px;
}

h1{
font-size:  100px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #006db0;
}

.news-link{
font-size: large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

